body { padding-top: 54px; }
.navbar-inverse .navbar-toggle { border-color: transparent; }
.navbar-inverse { border: none; box-shadow: 0 2px 5px 0 rgba(0,0,0,0.24); }
#main-container { padding: 20px 15px; }
#main-container li { line-height: 1.8; }
/*#navbar li {min-width: 140px; text-align: center; }*/
.social-panel a { padding: 10px 4px; text-decoration:none; }
.social-panel a:hover, .social-panel a:active { text-decoration:none;}
.thumbnail { border: none; }
.honor-text { padding: 12px 12px; line-height: 60px; vertical-align: bottom; height: 94px; }
.media {margin-bottom: 20px; }
img.media-object { width: 64px; height: 64px;}
.media ul { margin-left: -20px; }
.media .img-thumbnail { height: 150px; }
